.c-button {

  all: unset;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 1.8rem;
  border-radius: 0.8rem;
  width: 100%;
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.red-color {
  background-color: #FF4747;
}

.gray-color {
  background-color: #cecece;
}